<h1>Add Bill</h1>

<ol style="margin-right:50px;">
  <li class="li" style="margin-top:10px;">ID Bill </li>
  <input type="text" class="form-control" placeholder="ID Bill">
  <li class="li" style="margin-top:10px;">ID Order </li>
  <input type="text" class="form-control" placeholder="ID Order">
  <li class="li" style="margin-top:10px;">ID Table </li>
  <input type="text" class="form-control" placeholder="ID Table">
  <li class="li" style="margin-top:10px;">ID User</li>
  <input type="text" class="form-control" placeholder="ID User">
  <li class="li" style="margin-top:10px;">Time In </li>
  <input type="text" class="form-control" placeholder="Time In">
  <li class="li" style="margin-top:10px;">Time Out</li>
  <input type="text" class="form-control" placeholder="Time Out">

</ol>

<mat-card-actions style="margin-top: 10px;">
  <form action="" method="post">
  <button class="btn btn-sm btn-danger" style="width:'60px'">
    Add
</button>
</form>
<form action="" method="get">
  <button [routerLink]="['/bill']" routerLinkActive="router-link-active"  class="btn btn-sm btn-danger" style="width:'60px'; margin-top: 4px;">
    Back
</button>
</form>
</mat-card-actions>

