<div style="margin: 20px;">
<h1 class="mt-3">MEMBER MANAGER</h1>
<a class="btn btn-sm btn-primary" routerLink="/users/add" role="button">Add new member</a>
<hr>
<table class="table mt-4 mb-4 table-hover table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td scope="row">{{u.id}}</td>
            <td>{{u.full_name}}</td>
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
            <td>{{u.email}}</td>
            <td>{{u.DOB}}</td>
            <td>
                <a routerLink="/users/edit/{{u.id}}" class="btn btn-sm btn-primary mr-1" style="margin-right: 5px;">Edit</a>
                <button class="btn btn-sm btn-danger" (click)="onDelete(u.id)">Delete</button>
            </td>
        </tr>

    </tbody>
</table>
<hr>
</div>
