<div class="container" >
  <div class="login-container" >
  <div id="output"></div>
  <div ><img src="../assets/logoboxyz.png" width="220" height="100" alt="" >
  </div>
  <div class="form-box" style="margin-top:30px ;">
  <form action="" method="">
  <input type="text" placeholder="Username">
  <input type="password" placeholder="Password">
  <button class="btn btn-block login" style="margin-top:35px ; background-color: #01408f; color: white;" type="submit">Login</button>
  </form>
  </div>
  </div>

  </div>
