<div style="margin: 20px;">
<h1>{{title}}</h1>
<a class="btn btn-sm btn-primary" routerLink="/product/add" role="button">Add new products</a>
 <hr>
<table class="table mt-4 mb-4 table-hover table-bordered">
    <thead>
        <tr>
        <th>ID</th>
        <th>Imgurl</th>
        <th>Name</th>
        <th>Price</th>
        <th>IsAvailable</th>
        <th>Status</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td scope="row">{{p.id}}</td>
            <td>
                <img src="{{p.imgurl}}" width="60">
            </td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.isAvailable}}</td>
            <td>
                <a routerLink="/product/edit/{{p.id}}" class="btn btn-sm btn-primary">Edit</a>
                <a class="btn btn-sm btn-danger"(click)="DeleteProducts(p.id)">Del</a>
            </td>
        </tr>

    </tbody>

</table>
<hr>
</div>
