<div style="margin: 20px;">
<h1>{{title}}</h1>
<a class="btn btn-sm btn-primary" routerLink="/product/add" role="button">Add new products</a>
 <hr>
<table class="table mt-4 mb-4 table table-hover table-bordered">
    <thead>
        <th>ID</th>
        <th>Imgurl</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td scope="row">{{p.id}}</td>
            <td>
                <img src="{{p.imgurl}}" width="60">
            </td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.status}}</td>
            <td>
                <a routerLink="/product/edit/{{p.id}}" class="btn btn-sm btn-primary"(click)="EditProducts(p.id)">Edit</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-danger"(click)="DeleteProducts(p.id)">Del</a>
            </td>
        </tr>

    </tbody>

</table>
</div>
