<header></header>
<app-navigation></app-navigation>
<div class="footer py-4 text-center">
  <div class="container ">
    <div class="row mb-2">
      <div class="col-md-6 col-sm-12 footer-leftside">
        <div>
          <img src="../assets/logoboxyz.png" width="80" height="35" alt="">
        </div>
        <div>
          <span>66 Vo Van Tan, Thanh Khe, Da Nang</span>
        </div>
        <div>
          <span>+84 90 565 31 47</span>
        </div>
      </div>

    <div class="footer-line"></div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p class="mb-0 footer-leftside">
          &copy;2022 <a href="https://boxyzvn.com/">BOXYZVN</a>
        </p>
      </div>
    </div>
  </div>
</div>

