<div style="margin: 20px;">
    <h1>EDIT PRODUCT</h1>
    <hr>
    <form action="" method="post" [formGroup]= "productAdd" class="form mb-4" (submit)="onSubmit()">
        <div class="form-group">



            <label  class="mr-3" style="margin-top: 20px;" for="">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Product">
            <div class="mb-3 text-danger" *ngIf="submited && f['name'].errors">Please do not leave it blank!</div>
            <label class="mr-3" style="margin-top: 20px;" for="">Price</label>
            <input type="text" class="form-control" formControlName="price" placeholder="Price">
            <div class="mb-3 text-danger" *ngIf="submited && f['price'].errors">Please do not leave it blank!</div>
            <label class="mr-3" style="margin-top: 20px;" for="">IsAvailable</label>
            <input type="text" class="form-control" formControlName="isAvailable" placeholder="Status (stocking:[true]):(soldout:[false])">
            <div class="mb-3 text-danger" *ngIf="submited && f['isAvailable'].errors">Please do not leave it blank!</div>
            <label class="mr-3" style="margin-top: 20px;" for="">Imgurl</label>
            <input type="text" class="form-control" formControlName="imgUrl" placeholder="ImgURL">
            <div class="mb-3 text-danger" *ngIf="submited && f['imgUrl'].errors">Please do not leave it blank!</div>

        </div>

        <br>
        <button type="submit" class="btn btn-primary">Save</button>

    </form>
    </div>
