<div style="margin: 20px;">
<div class="grid-container">
  <h1 class="mat-h1">Bill</h1>
<div class="container mt-3">
    <div class="row">
        <div class="">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>ID Order</th>
                        <th>Desk ID</th>
                        <th>User ID</th>
                        <th>Time In</th>
                        <th>Time out</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th>1</th>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2019-10-21 11:32:45</td>
                        <td>2019-10-21 11:32:45</td>
                        <td class="d-flex border-0 align-items-center">
                          <form action="/detail-bill" method="get">
                              <button class="btn btn-sm btn-warning" style="width:'60px'">
                                  Edit
                              </button>
                          </form>
                          <form action="" method="post">
                              <input type="hidden" name="_method" value="delete" >
                              <button class="btn btn-sm btn-danger" style="width:'60px'" (click)="onDelete()">
                                  Delete
                              </button>
                          </form>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
