<div style="margin: 20px;">
  <h1 class="mt-4">EDIT BILL</h1>
  <hr>
  <form action="" [formGroup]="billForm" method="post" class="form mb-4" (submit)="onSubmit()">
      <div class="form-group">
        <label class="mr-3" for="">ORDER ID</label>
        <input type="text" class="form-control" formControlName="order_id">
        <div class="mb-3 text-danger" *ngIf="submited && b['order_id'].errors">Please do not leave it blank!</div>
        <label class="mr-3" style="margin-top: 20px;" for="">DESK ID</label>
        <input type="text" class="form-control" formControlName="desk_id">
        <div class="mb-3 text-danger" *ngIf="submited && b['desk_id'].errors">Please do not leave it blank!</div>
        <label class="mr-3" style="margin-top: 20px;" for="">USER ID</label>
        <input type="text" class="form-control" formControlName="user_id">
        <div class="mb-3 text-danger" *ngIf="submited && b['user_id'].errors">Please do not leave it blank!</div>
        <label class="mr-3" style="margin-top: 20px;" for="">TIME IN</label>
        <input type="email" class="form-control" formControlName="time_in">
        <div class="mb-3 text-danger" *ngIf="submited && b['time_in'].errors">Please check this email again!</div>
        <label class="mr-3" style="margin-top: 20px;" for="">TIME OUT</label>
        <input type="text" class="form-control" formControlName="time_out">
        <div class="mb-3 text-danger" *ngIf="submited && b['time_out'].errors">Please do not leave it blank!</div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Add</button>
  </form>
  </div>
