<h1>Chỉnh sửa hóa đơn</h1>

<ol>
  <li class="li">ID Bill </li>
  <input>
  <li class="li">ID Order </li>
  <input>
  <li class="li">ID Table </li>
  <input>
  <li class="li">ID User</li>
  <input>
  <li class="li">Time In </li>
  <input>
  <li class="li">Time Out</li>
  <input>

</ol>

<mat-card-actions>
  <form action="" method="post">
  <button class="btn btn-sm btn-danger" style="width:'60px'">
    Edit
</button>
</form>
<form action="" method="get">
  <button [routerLink]="['/bill']" routerLinkActive="router-link-active"  class="btn btn-sm btn-danger" style="width:'60px'">
    Back
</button>
</form>
</mat-card-actions>

