<h1 class="mt-4">ADD NEW MEMBER</h1>
<hr>
<form action="" [formGroup]="userForm" method="post" class="form mb-4" (submit)="onSubmit()">
    <div class="form-group">
        <label class="mr-3" for="">FULL NAME</label>
        <input type="text" class="form-control" formControlName="full_name" placeholder="ex: Nguyen Van A">
        <div class="mb-3 text-danger" *ngIf="submited && f['full_name'].errors">Please do not leave it blank!</div>
        <label class="mr-3" for="">USERNAME</label>
        <input type="text" class="form-control" formControlName="username" placeholder="ex: abc123">
        <div class="mb-3 text-danger" *ngIf="submited && f['username'].errors">Please do not leave it blank!</div>
        <label class="mr-3" for="">PASSWORD</label>
        <input type="text" class="form-control" formControlName="password" placeholder="Password min 8 characters long.">
        <div class="mb-3 text-danger" *ngIf="submited && f['password'].errors">Please do not leave it blank!</div>
        <label class="mr-3" for="">EMAIL</label>
        <input type="email" class="form-control" formControlName="email" placeholder="ex: nguyenvana@abc123.com">
        <div class="mb-3 text-danger" *ngIf="submited && f['email'].errors">Please check this email again!</div>
        <label class="mr-3" for="">DOB</label>
        <input type="text" class="form-control" formControlName="DOB" placeholder="ex: yyyy-MM-dd">
        <div class="mb-3 text-danger" *ngIf="submited && f['DOB'].errors">Please do not leave it blank!</div>    
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add</button>
</form>