<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color:whitesmoke ; background-color: grey;">BOXYZVN ADMIN</mat-toolbar>
    <mat-nav-list class="nav-list">
      <a mat-list-item [routerLink]="['/product']" routerLinkActive="router-link-active" >Product</a>
      <a mat-list-item [routerLink]="['/users']" routerLinkActive="router-link-active"  >User</a>
      <a mat-list-item [routerLink]="['/bill']" routerLinkActive="router-link-active" >Bill</a>
      <a mat-list-item [routerLink]="['/desk']" routerLinkActive="router-link-active"  >Desk</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
